* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
}

input {
    font-size: 16px;
    font-weight: 500;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.wrapper {
    width: 400px;
    position: relative;
    display: inline-block;
}

.wrapper input {
    border: 2px solid black;
    border-radius: 50px;
    padding: 1rem 2rem;
    width: 100%;
}

.wrapper button {
    border-radius: 50px;
    aspect-ratio: 1;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 5px;
}